@model Sinav_Olusturma.Models.NewQuestionModel
@*@model List<Sinav_Olusturma.Entities.Concrete.Story>*@
@{
    ViewData["Title"] = "Home Page";
}
@*<div class="row">
        @foreach (var item in Model)
        {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@item.Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">deneme</p>
                    <a asp-controller="Question" asp-action="Index" asp-route-storyLink="@item.Link" asp-route-storyTitle="@item.Title" class="btn btn-primary">Seç</a>
                </div>
            </div>
        </div>
        }
    </div>*@

<br />

<form asp-action="Index" asp-controller="Home">

    <select id="mySelect" class="form-control form-control-lg" onchange="myFunction(this)" asp-for="@Model.StoryLink" asp-items="@Model.StoryTitles">
        <option disabled selected value="-1">Seç</option>
    </select>
    <input asp-for="@Model.StoryTitle" type="hidden" id="Hidden" />
    <iframe id="frame" src="" style="border:none;width:100%; clip:rect(190px,1100px,800px,250px);" height="480" allowfullscreen></iframe>
    <br />
    <div id="soru1 form-group">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" asp-for="@Model.Question1.Title" placeholder="Soru 1" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question1.OptionA" placeholder="A)" />
            </div>
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question1.OptionB" placeholder="B)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question1.OptionC" placeholder="C)" />
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="@Model.Question1.OptionD" placeholder="D)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <select id="soru1cevap" class="form-control" asp-for="@Model.Question1.CorrectOption">
                    <option disabled selected value="-1">Doğru Cevap Seç</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <br />
    <div id="soru2 form-group">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" asp-for="@Model.Question2.Title" placeholder="Soru 2" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question2.OptionA" placeholder="A)" />
            </div>
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question2.OptionB" placeholder="B)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question2.OptionC" placeholder="C)" />
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="@Model.Question2.OptionD" placeholder="D)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <select id="soru2cevap" class="form-control" asp-for="@Model.Question2.CorrectOption">
                    <option disabled selected value="-1">Doğru Cevap Seç</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <br />
    <div id="soru3 form-group">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" asp-for="@Model.Question3.Title" placeholder="Soru 3" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question3.OptionA" placeholder="A)" />
            </div>
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question3.OptionB" placeholder="B)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question3.OptionC" placeholder="C)" />
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="@Model.Question3.OptionD" placeholder="D)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <select id="soru3cevap" class="form-control" asp-for="@Model.Question3.CorrectOption">
                    <option disabled selected value="-1">Doğru Cevap Seç</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <br />
    <div id="soru4 form-group">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" asp-for="@Model.Question4.Title" placeholder="Soru 4" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question4.OptionA" placeholder="A)" />
            </div>
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question4.OptionB" placeholder="B)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <input type="text" class="form-control" asp-for="@Model.Question4.OptionC" placeholder="C)" />
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" asp-for="@Model.Question4.OptionD" placeholder="D)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <select id="soru4cevap" class="form-control" asp-for="@Model.Question4.CorrectOption">
                    <option disabled selected value="-1">Doğru Cevap Seç</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <br />
    <input type="submit" value="Gönder" class="btn btn-primary" />
</form>
@section ExamScripts
{
    <script>
        function myFunction(value) {
            var x = document.getElementById("mySelect").value;
            var textValue = value.options[value.selectedIndex].text;
            document.getElementById('Hidden').value = textValue;
            $.get(x, function (data) {
                console.log(data);
            });
            //document.write('<font id=font><iframe src='+x+' width="775" frameborder="0" scrolling=no height="6500"></iframe></font>');
            //
           
            var frame = document.getElementById("frame");
            frame.src = x + "/#start-of-content";

        }
        function onSelectedIndexChanged(value) {
           
        }
    </script>
    <script type="text/javascript">


    </script>
}

