@model Sinav_Olusturma.Models.StoryQuestionDetail
@{
    ViewData["Title"] = "StoryDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 id="storyTitle">@Model.Story.Title</h3>
<input type="hidden" value="@Model.StoryLink" />
<br />
<iframe id="frame" src="" style="border:none;width:100%; clip:rect(190px,1100px,800px,250px);" height="480" allowfullscreen></iframe>
<form>
    <input type="hidden" value="@Model.Story.Id"  id="storyId"/>
    <br />
    <div class="row">

        @for(int i = 0; i < Model.Questions.Count;i++)
        {

            <div class="col-md-6 mt-5">
                <p style="word-wrap:break-word; width:40%;">@Model.Questions[i].Title</p>
                <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-dark">
                        <input type="radio" name="options-@(i+1)" id="option1" autocomplete="off" value="A"> A) @Model.Questions[i].OptionA
                    </label>
                    <label class="btn btn-outline-dark">
                        <input type="radio" name="options-@(i+1)" id="option2" autocomplete="off" value="B"> B) @Model.Questions[i].OptionB
                    </label>
                    <label class="btn btn-outline-dark">
                        <input type="radio" name="options-@(i+1)" id="option3" autocomplete="off" value="C"> C) @Model.Questions[i].OptionC
                    </label>
                    <label class="btn btn-outline-dark">
                        <input type="radio" name="options-@(i+1)" id="option4" autocomplete="off" value="D"> D) @Model.Questions[i].OptionD
                    </label>
                </div>
            </div>
        }


        @*<div class="col-md-6 mt-5">
            <p style="word-wrap:break-word; width:40%;">@Model.Question2.Title</p>
            <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options2" id="option1" autocomplete="off" value="A"> A) @Model.Question2.OptionA
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options2" id="option2" autocomplete="off" value="B"> B) @Model.Question2.OptionB
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options2" id="option3" autocomplete="off" value="C"> C) @Model.Question2.OptionC
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options2" id="option3" autocomplete="off" value="D"> D) @Model.Question2.OptionD
                </label>
            </div>
        </div>*@
    </div>
    <div class="row">
        @*<div class="col-md-6 mt-5">
            <p style="word-wrap:break-word; width:40%;">@Model.Question3.Title</p>
            <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options3" id="option1" autocomplete="off" value="A"> A) @Model.Question3.OptionA
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options3" id="option2" autocomplete="off" value="B"> B) @Model.Question3.OptionB
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options3" id="option3" autocomplete="off" value="C"> C) @Model.Question3.OptionC
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options3" id="option3" autocomplete="off" value="D"> D) @Model.Question3.OptionD
                </label>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <p style="word-wrap:break-word; width:40%;">@Model.Question4.Title</p>
            <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options4" id="option1" autocomplete="off" value="A"> A) @Model.Question1.OptionA
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options4" id="option2" autocomplete="off" value="B"> B)@Model.Question1.OptionB
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options4" id="option3" autocomplete="off" value="C"> C) @Model.Question1.OptionC
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options4" id="option3" autocomplete="off" value="D"> D) @Model.Question1.OptionD
                </label>
            </div>
        </div>*@
    </div>
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4"><a class="btn btn-lg btn-success" id="finish">Sınavı Tamamla</a></div>
        <div class="col-4"></div>
    </div>
</form>

@section StoryQuestionsScripts
{
    <script>
        var x = $('input[type=hidden]').val();
        var frame = document.getElementById("frame");
        frame.src = x;
       
    </script>
    <script>

        var storyId = $("#storyId").val();
        $("#finish").click(function ()
        {
            var q1 = $("input[name='options-1']:checked");
            var q2 = $("input[name='options-2']:checked");
            var q3 = $("input[name='options-3']:checked");
            var q4 = $("input[name='options-4']:checked");
            $("#finish").remove();
             var array = [storyId, q1.val(), q2.val(), q3.val(), q4.val()];          
            $.ajax({
                type: "GET",
                url: "/Home/FinishExam",
                data: $.param({ controlArray: array }, true),
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    $.each(data, function (index) {
                      
                        if (data[index] == "1") {
                            //q1.parent().removeClass("btn-outline-dark");
                            //q1.parent().addClass("btn-danger");
                            $("input[name='options-" + (index + 1) + "']:checked").parent().removeClass("btn-outline-dark");
                            $("input[name='options-" + (index + 1) + "']:checked").parent().addClass("btn-success");
                            //$("input[name='options" + (index + 1) + "']:checked").removeClass("btn-outline-dark");
                           // $("input[name='options" + (index + 1) + "']:checked").addClass("btn-danger");
                        }
                        else {
                            $("input[name='options-" + (index + 1) + "']:checked").parent().removeClass("btn-outline-dark");
                            $("input[name='options-" + (index + 1) + "']:checked").parent().addClass("btn-danger");
                        }
                        
                    })
                }
            });
        })
       
      
    </script>
}